# Logs and environment
*.log
.env
.env.local
.env.*.local

# Dependency directories
node_modules/

# OS metadata
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDE & Editor caches
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
